---
layout: email.hbs
title: Contact Confirmation
---
<h1>Thank you for contacting us!</h1>

<p>We've received your request and will respond shortly. To ensure email delivery
  to your inbox, please add <a href="mailto:customerservice@example.com">customerservice@example.com</a> to your address book.</p>

<p>If you have any questions or comments, please contact Customer
  Service by phone at 1-800-555-5555.</p>

{{> closing}}
