/* Standard styling reset for email clients */

#outlook a {
  padding: 0;
}

body {
  width: 100% !important;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.ExternalClass {
  width: 100%;

  &,
  p,
  span,
  font,
  td,
  div {
    line-height: 100%;
  }
}

#backgroundTable {
  width: 100% !important;
  margin: 0;
  padding: 0;
  line-height: 100% !important;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

a img {
  border: none;
}

table {
  border-spacing: 0;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;

  &,
  td {
    border-collapse: collapse;
  }
}
/* End reset */
